#root {
  max-width: 100% !important;
  width: 100%;
  padding: 2rem 4rem;
}

body{
  background-color: #fff;
  color: #000 ;
  display: flex;
  place-items: start;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 3rem;

    li {
      margin-left: 1rem;

      a {
        color: #343a40;
        text-decoration: none;
      }
    }
  }

  .connexion{
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      color: #343a40;
      text-decoration: none;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
    }
  }
}

